html
  include mixins/_campaign
  head
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css')
  body
    .section
      .containers
        .container
          .div
            ul.list
              each campaign in campaigns
                +campaign(campaign.country, campaign.imgRef, campaign.body, campaign.donateRef)
        .container
          form(method='GET', action='/summary')
            .help Go to your Donor Summary
            .control
              input.input(name='[email]', type = 'text', placeholder ='region')
            .control
              button.button.is-primary View Summary
