doctype html
html
  head
    script(src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/7.14.3/firebase-analytics.js")
    script(src="/static/js/hj.js")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css')
  body
    .containers
      .container
        .response
          p #{response}
      .container
        label Support a Campaign
        form(method="POST", action='/donate')
          .help Support children learning to read around the world. Give now!
          .control
            label(for='[firstName]') First Name
            input.input(name='[firstName]', type = 'text', title='firstName', placeholder='Sarah')
            label(for='[lastName]') Last Name
            input.input(name='[lastName]', type = 'text', title='lastName', placeholder='Jones')
            label(for='[email]') E-mail
            input.input(name='[email]', type = 'text', title='email', placeholder='yourName@example.com')
            label(for='[campaign]') Campaign
            input.input(name='[campaign]', type = 'text', title='email', placeholder='United States', value = campaign)
            label(for='[amount]') Amount
            input.input(name='[amount]', type = 'text', title='amount', placeholder = '$5.00', value = amount)
          .control
            button.button.is-primary Donate
    script(src="/static/js/fbc.js")
