doctype html
html
  head
    script(src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/7.14.3/firebase-analytics.js")
    script(src="/static/js/hj.js")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css')
    meta(http-equiv='refresh' content='5; url=https://secure.givelively.org/donate/curious-learning-a-global-literacy-project-inc/follow-the-learners?utm_source='+campaign+'&override_amount=5&payment_method=card')
  body
    .containers
      .container
        .response
          p  Thank you for your interest in supporting our campaign! We've partnered with GiveLively for a secure donation process. You'll be redirected to their secure site shortly.
    script(src="/static/js/fbc.js")
