<!Doctype html lang="en">
  include mixins/_campaign
  head
    title Follow The Learners™ (Beta) - FAQ
    meta(name="description" content="Follow The Learners™ (Beta) - FAQ")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="theme-color" content="#8CCDC9")
    link(rel="shortcut icon" type="image/jpg" href="/static/imgs/appicon.ico")
    script(src="/static/js/third/gtm.js")
    script(src="/static/js/third/fbp.js")
    script(src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/7.14.3/firebase-analytics.js")
    noscript
      img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=225538995469689&ev=PageView&noscript=1")
    link(rel="apple-touch-icon" href="/static/imgs/appicon.png")
    link(rel='stylesheet', href='/static/css/bulma-0.9.1.min.css')
    style(type='text/css').
      html,body
      {
          width: 100%;
          margin: 0px;
          padding: 0px;
      }

  body
    - const utmValue = utmSource ? "/?utm_source=" + utmSource : '/';
    header
        nav.navbar(role="navigation" style='z-index: 100; padding-left: 1.5rem; padding-right: 1.5rem; padding-top: 2rem; padding-bottom: 2rem;')
          .navbar-brand
            a.title.has-text-grey-dark.is-large(href=utmValue) Follow The Learners™
              span.is-small.subtitle (Beta)
    .container
      h2.is-size-2.has-text-centered(style="color: #079c94;") Frequently Asked Questions
      .section.has-text-centered
        h5.is-size-5 Don’t see your question?
        a.button.is-primary(href='mailto:followthelearners@curiouslearning.org?Subject=FTL%20Support%20Question') Submit a Question
      .section
        h2.is-size-2 Who runs Follow The Learners™?
        h5.is-size-5 &nbsp;&nbsp;&nbsp;Follow The Learners™ is run by 
          a(href='https://www.curiouslearning.org/' target='_blank') Curious Learning
          span , a 501(c)(3) non-profit organization as part of the 
          a(href='https://www.curiouslearning.org/mission' target='_blank') mission 
          span  to give everyone the opportunity to learn to read.

      .section
        h2.is-size-2 How does my donation help reach a child?
        h5.is-size-5 &nbsp;&nbsp;&nbsp;We work with partners and/or run media and ad campaigns to reach the parents of children in the most need. The parent then downloads an app and lets the child play and learn.

      .section
        h2.is-size-2#how-is-my-donation-used How is my donation used?
        h5.is-size-5 &nbsp;&nbsp;&nbsp;Here is an estimate of how a single $1 is used to reach a learner: 
        h6.is-size-6 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;50% -- to support campaigns to reach a parent, often with partners e.g. UNESCO, Ubongo, etc.
        h6.is-size-6 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10% -- to find donors like yourself
        h6.is-size-6 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10% -- to run the Follow The Learners™ system
        h6.is-size-6 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;30% -- the maintaining and improving the selection of apps available to the children.
        br
        h5.is-size-5 &nbsp;&nbsp;&nbsp;Note: this is our best estimate at the time of this public beta. We will update these numbers as we learn more.
        br
        h5.is-size-5 &nbsp;&nbsp;&nbsp;In accordance with the Internal Revenue Service guidelines, Curious Learning : A Global Literacy Project, Inc. maintains discretion and sole control over the use of all donated funds. All donations are non-refundable. In practice, Curious Learning : A Global Literacy Project, Inc. honors the giving preferences for any of our previously approved programs and projects whenever possible. In rare cases, when that is not possible, gifts will be used where needed. Therefore, donors explicitly release Curious Learning : A Global Literacy Project, Inc. from any restrictions on how those funds are spent.
      
      .section
        h2.is-size-2 Is my donation tax deductible? 
        h5.is-size-5 &nbsp;&nbsp;&nbsp;Yes donations to Follow The Learners™ are collected by a 501(c)(3) non-profit
          a(href='https://www.curiouslearning.org/' target='_blank')  Curious Learning
          span .
      
      .section
        h2.is-size-2 Are the street views exactly where the learners are located? What about learner privacy?
        h5.is-size-5 &nbsp;&nbsp;&nbsp; All learner information is anonymized and no personally identifiable information is collected from the learner.
        h5.is-size-5 &nbsp;&nbsp;&nbsp; The street views, powered by Google Maps, shown in Follow The Learners™ are meant as a representation of the region that learner is from for the donor to be able to see a general approximation of what it might be like to live in that region.
        h5.is-size-5 &nbsp;&nbsp;&nbsp; Any buildings, businesses, homes, schools, daycare centers, etc. present in the street views do not imply any affiliation or endorsement of Follow The Learners™ or Curious Learning.

      .section
        h2.is-size-2 What information does Follow the Learners™ collect and how is it used?
        h5.is-size-5 &nbsp;&nbsp;&nbsp; You can read more in our 
          a(href='/privacy-policy' + utmValue) Privacy Policy.
      
      .section
        h2.is-size-2 What about reaching children that do not have access to a smartphone?
        h5.is-size-5 &nbsp;&nbsp;&nbsp;With as much as 50% of homes having a smart phone in parts of the world where only 12% of the population can read at grade level, the most cost effective thing we can do is reach those devices. 
        h5.is-size-5 &nbsp;&nbsp;&nbsp;In spite of the rapid growing base of smartphones, we are also testing ways of getting devices preloaded with apps in the hands of those that would otherwise not have access. If you are interested in learning more or supporting these types of pilots please 
          a(href='https://www.curiouslearning.org/contact' target='_blank') contact us. 
      
      .section
        h2.is-size-2#how-do-children-learn-from-the-apps How do children learn from the apps?
        h5.is-size-5 &nbsp;&nbsp;&nbsp;Learning to read demands many hours of practice and support for a child’s individual learning journey. The apps allow them to practice literacy skills at their level and for as long as they need. Children learn to read by receiving instruction in the relationship between sounds and the letters that represent those sounds. This instruction is most effective when it builds on what children already know about a language- words and meanings, how to make sentences, stories and real world knowledge. They use the apps to first understand and then practice their sounds and letters which they can use to begin to read simple words. Simple stories allow a child to begin reading stories on their own and receive immediate feedback so they can always increase their skills. The apps support every child’s need to achieve mastery in all of the areas of word knowledge that support reading and understanding text.

      .section
        h2.is-size-2 Can I learn more about the apps or have my own children play them?
        h5.is-size-5 
          a(href='https://www.curiouslearning.org/apps' target='_blank') &nbsp;&nbsp;&nbsp;Yes you can
          span !

      .section
        h2.is-size-2 Can my app become part of the learning journey in Follow the Learners™?
        h5.is-size-5 &nbsp;&nbsp;&nbsp; Please 
          a(href='https://www.curiouslearning.org/contact' target='_blank') contact us
          span  for more information.

    footer.footer
      .container.has-text-centered
        .columns
          .column
            a(href=utmValue) Back to App
          .column
            a(href='mailto:followthelearners@curiouslearning.org?Subject=FTL%20Support%20Request') Support
          .column
            a(href='/privacy-policy' + utmValue) Privacy Policy
        h5.is-size-5 Copyright 2020 by Curious Learning.

  script(src='/static/js/third/font-awesome-89be965993a.js')
  script(src="/static/js/third/hj.js")
  script(src='/static/js/third/fbc.js')

  noscript
    iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-KW3K32P" height="0" width="0" style="display:none;visibility:hidden")

  script(src='/static/js/third/lnkd.js')
  noscript
    img(height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=3032825&fmt=gif")