html
  include mixins/_campaign
  head
    script(src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/7.14.3/firebase-analytics.js")
    script(src="/static/js/hj.js")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css')
    script(src="https://kit.fontawesome.com/89be96593a.js" crossorigin="anonymous")
    script(
        src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous")
  body
    header(style='z-index: 10;')
      .section(style='margin-bottom: -120px;')
          p.buttons.is-pulled-right#tab-buttons
            // Campaigns Button
            button.button.is-medium.is-pulled-right.is-dark(onclick="tabSelector.ToggleTab('tab-campaigns')")
              span.icon.is-small
                i.fas.fa-map-marker-alt(aria-hidden='true' style='pointer-events: none;')
              span Regions

            // Your Learners Button
            button.button.is-medium.is-pulled-right(onclick="tabSelector.ToggleTab('tab-your-learners')")
              span.icon.is-small
                i.fas.fa-users(aria-hidden='true' style='pointer-events: none;')
              span Your Learners

            // All Learners Button
            button.button.is-medium.is-pulled-right(onclick="tabSelector.ToggleTab('tab-all-learners')")
              span.icon.is-small
                i.fas.fa-globe(aria-hidden='true' style='pointer-events: none;')
              span All Learners

    .section#tabs-parent(style='z-index: 5')
      .section#tab-campaigns
        a.title.has-text-grey-dark(href="/" style='font-size: 4rem;') Follow The Learners™
        h3.subtitle.is-3.has-text-grey(style='margin-top: 0.5rem') Pick a Region
        .section(style='padding-top: 1rem')
          .columns.is-desktop
            each campaign in campaigns
              +campaign(campaign.country, campaign.imgRef, campaign.body, campaign.campaignID, campaign.amount)
            script.
              function goToDonate(campaign, amount) {
                window.location = "/donate?campaign=" + campaign
              }
      .section.is-hidden#tab-your-learners
        .select.is-large(style='font-size: 2.4rem')
          select#campaignSelection(onchange='onCampaignSelectionChanged()' style='border: none; width: auto; -webkit-appearance: none; -moz-appearance: none; appearance:none;' name='campaignSelection')
        .section(style='margin-top: none; padding-top: 0.5rem; padding-bottom: 0.2rem; margin-bottom: none;')
          h3.subtitle.is-3.has-text-grey Donation: 
            span#donation-amount
            span $
          h3.subtitle.is-3.has-text-grey You've reached&nbsp;
            span#learner-count
            span &nbsp;Learners since&nbsp;
            span#donation-date
        .section(style='margin-top: none; padding-top: 0.5rem;')
          #map-display-your-learners(style="width: 100%; height: 640px;")

      .section.is-hidden#tab-all-learners
        .section(style='margin-top: none; padding-top: 0.5rem; padding-bottom: 0.2rem; margin-bottom: none;')
          h1.title.has-text-grey-dark(style='font-size: 4rem;') All Learners
          .select.is-large
            select#countrySelection(onchange='onCountrySelectionChanged()' style='width: auto; -webkit-appearance: none; -moz-appearance: none; appearance:none;' name='campaignSelection')
          h3.subtitle.is-3.has-text-grey(style='margin-top: 1rem;') We've reached&nbsp;
            span#all-learners-count
            span &nbsp;Learners*
        .section(style='margin-top: none; padding-top: 0.5rem; margin-bottom: none; padding-bottom: 0.1rem')
          #map-display-all-learners(style="width: 100%; height: 640px;")
        .section.has-text-right(style="margin-top: none; padding-top: 0;")
          h3.subtitle.has-text-grey 
            span *
            span#no-region-user-count 20
            span &nbsp;users have Do not Track on.
    
    .modal#donor-email-modal
      .modal-background(onclick="document.getElementById('donor-email-modal').classList.remove('is-active');")
      .modal-card
        header.modal-card-head(style='border: none')
          p.modal-card-title.has-text-grey-dark Enter Your E-Mail
          button.delete(aria-label='close' onclick="document.getElementById('donor-email-modal').classList.remove('is-active');")
        .modal-card-body
          p.has-text-info.is-hidden#new-donor-info-text
            span.icon.is-small.is-left
              i.fas.fa-info-circle
            span &nbsp;Oops! Looks like you haven't made any contributions yet! Why not take a look at our campaigns and join us in bringing access to reading education to every child!
            span
              br
              br
          form
            //- .help Go to your Donor Summary
            //- br
            label.has-text-grey(for='[e]') E-mail
            .control.has-icons-left
              input.input#donor-email(name='[e]', type='email', title="Email" placeholder='user-name@example.com')
              span.icon.is-small.is-left
                i.fas.fa-envelope
            br
            .control
              input.button(type='button' onclick='GetDataAndSwitchToDonorLearners()' value='View Your Learners')


  script(src="/static/js/fbc.js")
  script(src="/static/js/tab-selector.js")
  script(src="/static/js/countUp.js")
  script(src="/static/js/index.js")
  script(src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js")
  script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEl20cTMsc72W_TasuK5PlWYIgMrzyuAU&callback=initializeMaps")
