<!Doctype html lang="en">
  include mixins/_campaign
  include mixins/_link
  head
    title Follow The Learners™ (Beta)
    meta(name="description" content="Follow The Learners™ (Beta)")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- script(
    //-     src="https://code.jquery.com/jquery-3.5.0.min.js"
    //-     integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
    //-     crossorigin="anonymous")
    script(src="/static/js/sw-loader.js")
    script(src="/static/js/third/gtm.js")
    script(src="/static/js/third/fbp.js")
    script(src="/static/js/public/bundle.js")
    noscript
      img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=225538995469689&ev=PageView&noscript=1")
    script(src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/7.14.3/firebase-analytics.js")
    script(src="https://www.gstatic.com/firebasejs/7.14.3/firebase-auth.js")
    script(src="/static/js/third/hj.js")
    link(rel="apple-touch-icon" href="/static/imgs/appicon.png")
    link(rel="shortcut icon" type="image/jpg" href="/static/imgs/appicon.ico")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css')
    script(src="https://kit.fontawesome.com/89be96593a.js" crossorigin="anonymous")
    link(rel="preconnect" href="https://in.hotjar.com")
    link(rel="preconnect" href="https://static.hotjar.com")
    link(rel="preconnect" href="https://vars.hotjar.com")
    link(rel="preconnect" href="https://script.hotjar.com")
    link(rel="preconnect" href="https://firebaseinstallations.googleapis.com")
    link(rel="dns-prefetch" href="https://www.googletagmanager.com")
    link(rel="dns-prefetch" href="https://kit-free.fontawesome.com")
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/e7fc6811b410d9e7d8d5704ad/4ca2fe433d58314a32e654522.js");</script>
    style(type='text/css').
      body
      {
          width: 100%;
          margin: 0px;
          //- padding: 0px;
      }
      .read-more-text {
        display: none;
      }
      .read-more-button {
        width: 40%;
        font-size: 1rem;
        background-color: rgba(30, 30, 30, 0.8); 
        border: none;
        color: white;
        margin-top: 0.5rem;
      }
      .read-more-button-parent {
        text-align: center; 
        margin-top: -4px; 
        z-index: 100;
      }
      #percent-filled {
        font-size: 1.4rem;
        background: none!important;
        border: none;
        padding: 0!important;
        font-weight: bold;
      }
      #navbar {
        transition: max-height 0.5s ease-in-out;
      }

  body(style="padding-top: 8rem !important;")
    - const utmValue = utmSource ? "/?utm_source=" + utmSource : '/';
    header
      nav.navbar.is-fixed-top#navbar(role="navigation" style='background-image: url("/static/imgs/hero-cover-sticky-header.jpg"); height: 17vh; background-size: cover; background-repeat: no-repeat; color: white; background-position: center center; z-index: 100; padding-left: 1.5rem; border-radius: 0; padding-right: 1.5rem; ')
        .navbar-brand(style='display: flex;')
          div(style="width: auto; margin-top: 2vh;")
            div
              a.title.has-text-grey-dark.is-large(href=utmValue style="margin-bottom: 0.5rem; color: white !important;") Follow The Learners™
                span.is-small.subtitle(style="color: white;") (Beta)
            div#under-title-social-icons.is-hidden(style='margin-left: -12px;')
              a(href='https://www.facebook.com/CuriousLearningGLP/' target="_blank")
                span.icon.is-large
                  i.fab.fa-facebook-square(style='font-size: 1.5rem; color: white; ')
              a(href='https://twitter.com/curiouslearnglp' target="_blank")
                span.icon.is-large
                  i.fab.fa-twitter-square(style='font-size: 1.5rem; color: white; ')
              a(href='https://www.instagram.com/curiouslearning_glp/' target="_blank")
                span.icon.is-large
                  i.fab.fa-instagram-square(style='font-size: 1.5rem; color: white; ')
              a(href='https://www.linkedin.com/company/curious-learning' target="_blank")
                span.icon.is-large
                  i.fab.fa-linkedin(style='font-size: 1.5rem; color: white; ')
              button.button#mailchimp-button(style='margin: 0.4rem; text-decoration: none; background-color: rgba(0, 0, 0, 0); border: none')
                span.icon.is-large
                  i.far.fa-envelope(style='font-size: 1.5rem; color: white;')

          div(style='margin-left: auto;')
            a.navbar-burger.is-large(data-target="navbarHeroMenu" role="button" aria-label="menu" aria-expanded="false" style="background-color: #404040; margin-top: 1.5rem;")
              span(aria-hidden="true" style="color: white; width: 40%; left: 30%; height: 0.1rem;")
              span(aria-hidden="true" style="color: white; width: 40%; left: 30%; height: 0.1rem;")
              span(aria-hidden="true" style="color: white; width: 40%; left: 30%; height: 0.1rem;")

        .navbar-menu#navbarHeroMenu(style='background-color: rgba(0, 0, 0, 0)')
          .navbar-end#tab-buttons(style='align-items: center; padding-left: 1.5rem; padding-right: 1.5rem;')
            // Campaigns Button
            a.button.is-medium.navbar-item#btn-tab-campaigns(style='margin-right: 0.25rem; margin-left: 0.25rem; margin-bottom: 0.5rem;')
              span.icon.is-small
                i.fas.fa-map-marker-alt(aria-hidden='true' style='pointer-events: none;')
              span Donate
            // Your Learners Button
            a.button.is-medium.navbar-item#btn-tab-yl(style='margin-right: 0.25rem; margin-left: 0.25rem; margin-bottom: 0.5rem;')
              span.icon.is-small
                i.fas.fa-users(aria-hidden='true' style='pointer-events: none;')
              span Your Learners
            // All Learners Button
            a.button.is-medium.is-dark.navbar-item#btn-tab-al(style='margin-right: 0.25rem; margin-left: 0.25rem; margin-bottom: 0.5rem;')
              span.icon.is-small
                i.fas.fa-globe(aria-hidden='true' style='pointer-events: none;')
              span All Learners

            // Sign In Button
            a.button.is-medium.is-primary.navbar-item#sign-in-out(style='margin-right: 0.25rem; margin-left: 0.25rem; margin-bottom: 0.5rem;')
              span.icon.is-small
                  i.fas.fa-sign-in-alt#auth-button-icon(aria-hidden='true' style='pointer-events: none;')
              span#sign-in-text Sign In
          
            .column#hamburger-social-icons.is-hidden(style='')
              a(href='https://www.facebook.com/CuriousLearningGLP/' target="_blank")
                span.icon.is-large
                  i.fab.fa-facebook-square(style='font-size: 1.5rem; color: #707070; ')
              a(href='https://twitter.com/curiouslearnglp' target="_blank")
                span.icon.is-large
                  i.fab.fa-twitter-square(style='font-size: 1.5rem; color: #707070; ')
              a(href='https://www.instagram.com/curiouslearning_glp/' target="_blank")
                span.icon.is-large
                  i.fab.fa-instagram-square(style='font-size: 1.5rem; color: #707070; ')
              a(href='https://www.linkedin.com/company/curious-learning' target="_blank")
                span.icon.is-large
                  i.fab.fa-linkedin(style='font-size: 1.5rem; color: #707070; ')
              button.button#mailchimp-hamburger-button(style='margin: 0.4rem; text-decoration: none; background-color: rgba(0, 0, 0, 0); border: none')
                span.icon.is-large
                  i.far.fa-envelope(style='font-size: 1.5rem; color: #707070;')

    .section#tabs-parent(style='z-index: 100; padding-right: 0; padding-left: 0;')
      .section.is-hidden#tab-campaigns(style='padding: 0;')
        //- div.has-text-centered
        //- h3.subtitle.is-3.has-text-grey(style='margin-top: 0.5rem') Pick a Region
        .section(style="padding-top: 0.5rem;")
          //- h3.has-text-grey.has-text-centered(style='background-color: rgba(255, 217, 105, 0.5)')
            //- p Follow The Learners is currently in beta testing.
            //- p If you have not received a beta testing invitation, please e-mail info@curiouslearning.org to log your interest in becoming a tester before donating.
          - for (let i = 0; i < campaigns.length; i++)
            if (i === 0 || i % 3 === 0)
              .columns.is-desktop(style='margin-top: 0.5rem') 
                - for (var j = i; j < (3 + i); j++)
                  - if (j >= campaigns.length) break;
                    - let campaign = campaigns[j];
                    +campaign(campaign.country, campaign.imgRef, campaign.body, campaign.campaignID, campaign.amount, campaign.country, utmSource, campaign.donateRef, campaign.isFeatured)
          script.
            function goToDonate(campaign, amount, donateRef) {
              document.getElementById('donate-modal').classList.add('is-active');
              window.history.replaceState(null, null, "?utm_source=" + campaign);
              let submitButtons = document.getElementsByClassName('gl-widget__donation-submit-button');
              if (submitButtons.length > 0) {
                let donateButton = submitButtons[0];
                donateButton.addEventListener('click', () => {
                  if (campaign.toLowerCase().includes("facebook")) {
                    fbq('trackCustom', 'DonationClick', {utmSource: campaign});
                  } else if (campaign.toLowerCase().includes('linkedin')) {
                    const img = new Image();
                    img.src = 'https://px.ads.linkedin.com/collect/?pid=3032825&conversionId=3837249&fmt=gif';
                  }
                } , false);
              }
            }
            function readMore(btn) {
              let spanId = btn.id.replace('btn_', '');
              let readMoreElement = document.getElementById(spanId);
              if (readMoreElement && readMoreElement.style.display === '' || 
                  readMoreElement && readMoreElement.style.display === 'none') {
                readMoreElement.style.display = 'block';
                btn.innerText = 'Read Less';
              } else if (readMoreElement && readMoreElement.style.display === 'block') {
                readMoreElement.style.display = 'none';
                btn.innerText = 'Read More';
              }
            }
      
        .container.has-text-centered
          h5.is-size-5 Disclaimer
          p(style="padding-left: 1rem; padding-right: 1rem; font-size: 0.7rem;") In accordance with the Internal Revenue Service guidelines, Curious Learning : A Global Literacy Project, Inc. maintains discretion and sole control over the use of all donated funds. All donations are non-refundable. In practice, Curious Learning : A Global Literacy Project, Inc. honors the giving preferences for any of our previously approved programs and projects whenever possible. In rare cases, when that is not possible, gifts will be used where needed. Therefore, donors explicitly release Curious Learning : A Global Literacy Project, Inc. from any restrictions on how those funds are spent.

        br
        br

      .section.is-hidden#tab-your-learners(style='margin-top: 0rem; padding-top: 0; padding-left: 0; padding-right: 0;')
        .section(style='margin-top: 0rem; padding-top: 0.2rem; padding-bottom: 0.2rem; margin-bottom: none;')
          h1.title.has-text-grey-dark.is-large(style='font-size: 2.2rem; margin: 0') Your Learners
          h3.subtitle.is-3.has-text-grey(style='margin-top: 1rem') Amount Donated: 
            span $
            span#donation-amount
          h3.subtitle.is-4.has-text-grey(style='margin-bottom: 1rem;')
            span#congrats
            span You've reached&nbsp;
            span#learner-count
            span &nbsp;Learners since&nbsp;
            span#donation-date
            span &nbsp;
            span#your-learners-in-country
            span(style='font-size: 1.4rem;') &nbsp;(
              span#your-learners-no-region-user-count
              span &nbsp;users have Do Not Track on.)
          button.button.is-primary.is-large#give-again-button(style="margin-left: 0") Give Again
          
            //- span Would you like to give again to reach more?
          h3.subtitle.is-3.has-text-grey
            span#percent-filled
        .section(style='position: relative; margin: 1rem; padding: 0;')
          #map-display-your-learners(style="width: 100%; height: 720px;")
          #map-overlay(style='width: 100%; height: 720px; position: absolute; top: 0; left: 0; z-index: 25; pointer-events: none;')
            .select.is-medium(style='')
              select#yourLearnersCountrySelect(style='pointer-events: auto; margin: 4px;' name='campaignSelection')
            button.button.is-medium#btn-reset-map-yl(style='pointer-events: auto; margin: 4px;') Reset Map
          div#your-learners-overlay-pano.is-hidden(style="width: 100%; height: 720px; position: absolute; top: 0; left: 0; z-index: 30; pointer-events: auto;")
            div#your-learners-panorama(style="width: 100%; height: 100%; pointer-events: auto;")
            div(style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 35; pointer-events: none;")
              button.button.is-medium#your-learners-pano-close(style='pointer-events: auto; margin: 10px; float: right;')
                span(style="font-weight: bold;") Close
              //- button.button.is-medium(onclick="onPanoramaPreviousButtonClick()" style='pointer-events: auto; margin: 10px; position: absolute; left: 0; top: 45%; background-color: rgba(30, 30, 30, 0.3); font-weight: bold; font-size: 1.2rem; color: white; border: none;')
              //-   span(style="font-weight: bold;") Prev
              //- button.button.is-medium(onclick="onPanoramaNextButtonClick()" style='pointer-events: auto; margin: 10px; position: absolute; right: 0; top: 45%; background-color: rgba(30, 30, 30, 0.3); font-weight: bold; font-size: 1.2rem; color: white; border: none;')
              //-   span(style="font-weight: bold;") Next
      
      .section#tab-all-learners(style="margin-top: 0rem; padding-top: 0;")
        .section(style='margin: 0; padding: 0rem;')
          h1.title.has-text-grey-dark.is-large(style='font-size: 2.2rem; margin: 0') All Learners
          h5.subtitle.is-size-5.has-text-dark-grey(style='margin-top: 0.5rem; margin-bottom: 0') Every dollar puts literacy apps in the hands of a child.
            span
              a(href='/learn-more' + utmValue) &nbsp;Learn More
            span .
          h5.subtitle.is-size-5.has-text-grey(style='margin-top: 0.5rem;')
            span We've reached&nbsp;
            span#all-learners-count
            span &nbsp;Learners&nbsp;
            span#all-learners-in-country
            span#no-region-user-count-parent.is-hidden(style='font-size: 1rem;') &nbsp;(
              span#no-region-user-count
              span &nbsp;users have Do Not Track on.)
        .section(style='position: relative; padding: 0; margin-top: 1rem;')
          #map-display-all-learners(style="width: 100%; height: 720px;")
          #map-overlay(style='width: 100%; height: 720px; position: absolute; top: 0; left: 0; z-index: 25; pointer-events: none;')
            .select.is-medium
              select#all-learners-country-select(style='pointer-events: auto; margin: 4px;' name='campaignSelection')
            button.button.is-medium#btn-reset-map(style='pointer-events: auto; margin: 4px;') Reset Map
          div#all-learners-overlay-pano.is-hidden(style="width: 100%; height: 720px; position: absolute; top: 0; left: 0; z-index: 30; pointer-events: auto;")
            div#all-learners-panorama(style="width: 100%; height: 100%; pointer-events: auto;")
            div(style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 35; pointer-events: none;")
              button.button.is-medium#all-learners-pano-close(style='pointer-events: auto; margin: 10px; float: right;')
                span(style="font-weight: bold;") Close
              //- button.button.is-medium(onclick="onPanoramaPreviousButtonClick()" style='pointer-events: auto; margin: 10px; position: absolute; left: 0; top: 45%; background-color: rgba(30, 30, 30, 0.3); font-weight: bold; font-size: 1.2rem; color: white; border: none;')
              //-   span(style="font-weight: bold;") Prev
              //- button.button.is-medium(onclick="onPanoramaNextButtonClick()" style='pointer-events: auto; margin: 10px; position: absolute; right: 0; top: 45%; background-color: rgba(30, 30, 30, 0.3); font-weight: bold; font-size: 1.2rem; color: white; border: none;')
              //-   span(style="font-weight: bold;") Next

    .modal#mailchimp-modal(style='z-index: 101;')
      .modal-background#mailchimp-modal-overlay
      .modal-card
        header.modal-card-head(style='border: none; display: flex; justify-content: center;')
          p.modal-card-title.hast-text-grey-dark.has-text-centered.is-size-5 Subscribe to our mailing list
          button.delete#mailchimp-modal-close-button(aria-label='close' style="margin-left: auto;")
        .modal-card-body
          link(href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css")
          style(type='text/css').
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
          div#mc_embed_signup
            form#mc-embedded-subscribe-form(action="https://curiouslearning.us14.list-manage.com/subscribe/post?u=e7fc6811b410d9e7d8d5704ad&amp;id=4b508ae5f2" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
              //- div#mc_embed_signup_scroll
              //-   <h2>Subscribe to the Follow The Learners mailing list</h2>
              div.indicates-required
                span.asterisk *
                span indicates required
              div.mc-field-group
                label(for="mce-EMAIL") Email Address
                  span.asterisk *
                input.required.email#mce-EMAIL(type="email" value="" name="EMAIL")
              div.mc-field-group
                label(for="mce-MMERGE1") First Name
                input#mce-MMERGE1(type="text" value="" name="MMERGE1")
              div.mc-field-group.input-group
                  strong Notifications (check all that apply):
                  br
                  ul
                    li
                      input(type="checkbox" value="1" name="group[43829][1]" id="mce-group[43829]-43829-0")
                      label(for="mce-group[43829]-43829-0") &nbsp;&nbsp;I wish to be reminded of the opportunity to sponsor more children in the future.
                    br
                    li
                      input(type="checkbox" value="2" name="group[43829][2]" id="mce-group[43829]-43829-1")
                      label(for="mce-group[43829]-43829-1") &nbsp;&nbsp;Please alert me to urgent or specific needs.
                    br
                    li
                      input(type="checkbox" value="4" name="group[43829][4]" id="mce-group[43829]-43829-2")
                      label(for="mce-group[43829]-43829-2") &nbsp;&nbsp;New features or updates to the Follow The Learners™.
              div#mce-responses.clear
                div.response#mce-error-response(style="display:none")
                div.response#mce-success-response(style="display:none")
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              div(style="position: absolute; left: -5000px;" aria-hidden="true")
                input(type="text" name="b_e7fc6811b410d9e7d8d5704ad_4b508ae5f2" tabindex="-1" value="")
              div.clear
                input.button(type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe")
              <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='MMERGE1';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>


    .modal#donate-modal(style='z-index: 101;')
      .modal-background#donate-modal-overlay
      .modal-card
        header.modal-card-head(style='border: none')
          p.modal-card-title.hast-text-grey-dark.has-text-centered Donate | Give Lively
          button.delete#donate-modal-close-button(aria-label='close')
        .modal-card-body
          p We will locate your learners over the next few days after your donation. Please watch for an e-mail from followthelearners@curiouslearning.org letting you know when your first learners are ready.
          br
          div.gl-simple-donation-widget#give-lively-widget
    
    .modal#donor-email-modal(style='z-index: 101;')
      .modal-background#sign-in-modal-overlay
      .modal-card
        header.modal-card-head(style='border: none; display: flex; justify-content: center;')
          p.modal-card-title.hast-text-grey-dark.has-text-centered.is-size-5 &nbsp;&nbsp;&nbsp;Sign In to Follow The Learners™
          button.delete#sign-in-modal-close-btn(aria-label='close' style='margin-left: auto')
        .modal-card-body
          p.has-text-info.is-hidden#new-donor-info-text(style='text-align: center;')
            span.icon.is-small.is-left
              i.fas.fa-info-circle
            span#new-donor-info-content Please enter a valid email address
            br
            br
          div(style="text-align: center")
            form#sign-in-form(style="width: 70%; display: inline-block;")
              .control(style='text-align: center;')
                input#sign-in-button-google(type='image' src='/static/imgs/gsb/web/1x/btn_google_signin_light_normal_web.png' style='')
              br
              .control(style='text-align: center;')
                button.button#sign-in-button-fb(type='button' style='justify-content: flex-start; color: white; width: 188; height: 46; background-color: #4267B2')
                  span.icon
                    i.fab.fa-facebook-square(style='font-size: 1.5rem;')
                  span(style='font-size: 0.8rem; margin-left: auto;') Sign In with Facebook
              br
              label.has-text-grey(for='email') —————OR—————
              br
              br
              .control.has-icons-left
                input.input#donor-email(name='email', type='email', title="Email" placeholder='user-name@example.com')
                span.icon.is-small.is-left
                  i.fas.fa-envelope
              br
              .control
                input.button.is-primary#donor-email-submit(type='button' style='width: 100%' disabled=true value='Send Me An E-mail Link')
              br
              p(style="") New to Follow the Learners™?&nbsp;
              input.button.is-text#go-to-donate-button(type='button' style='display: inline-block' value='Make a Donation')

    script(src="https://secure.givelively.org/widgets/simple_donation/curious-learning-a-global-literacy-project-inc.js?show_suggested_amount_buttons=false&show_in_honor_of=false&address_required=false&has_required_custom_question=null&prefilled_donation_amount=20")

    footer.footer
      .container.has-text-centered
        .columns
          .column
            a(href='/faq' + utmValue) FAQ
          .column
            a(href='mailto:followthelearners@curiouslearning.org?Subject=FTL%20Support%20Request' target='_blank') Support
          .column
            a(href='/privacy-policy' + utmValue) Privacy Policy
        h5.is-size-5 Copyright 2020 by Curious Learning.
        
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEl20cTMsc72W_TasuK5PlWYIgMrzyuAU&callback=initGoogleMaps")

  noscript
    iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-KW3K32P" height="0" width="0" style="display:none;visibility:hidden")

  script(src='/static/js/third/lnkd.js')
    noscript
      img(height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=3032825&fmt=gif")
