html
  include mixins/_campaign
  head
    script(src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/7.14.3/firebase-analytics.js")
    script(src="/static/js/hj.js")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css')
    script(src="https://kit.fontawesome.com/89be96593a.js" crossorigin="anonymous")
    script(
        src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous")
  body
    header(style='z-index: 10;')
      .section(style='margin-bottom: -120px;')
          p.buttons.is-pulled-right#tab-buttons
            // Campaigns Button
            button.button.is-medium.is-pulled-right.is-dark(onclick="tabSelector.ToggleTab('tab-campaigns')")
              span.icon.is-small
                i.fas.fa-map-marker-alt(aria-hidden='true' style='pointer-events: none;')
              span Regions

            // Your Learners Button
            button.button.is-medium.is-pulled-right(onclick="tabSelector.ToggleTab('tab-your-learners')")
              span.icon.is-small
                i.fas.fa-users(aria-hidden='true' style='pointer-events: none;')
              span Your Learners

            // All Learners Button
            button.button.is-medium.is-pulled-right(onclick="tabSelector.ToggleTab('tab-all-learners')")
              span.icon.is-small
                i.fas.fa-globe(aria-hidden='true' style='pointer-events: none;')
              span All Learners

    .section#tabs-parent(style='z-index: 5')
      .section#tab-campaigns
        a.title.has-text-grey-dark(href="/" style='font-size: 4rem;') Follow The Learners™
          span(style='font-size: 3rem') (Beta)
        h3.subtitle.is-3.has-text-grey(style='margin-top: 0.5rem') Pick a Region
        .section(style="padding-top: 0px;")
          h3.subtitle.has-text-grey.has-text-centered(style='font-size: 1rem; background-color: rgba(255, 217, 105, 0.5)')
            p Follow The Learners is currently in beta testing.
            p If you have not received a beta testing invitation, please e-mail info@curiouslearning.org to log your interest in becoming a tester before donating.
          .columns.is-desktop
            each campaign in campaigns
              +campaign(campaign.country, campaign.imgRef, campaign.body, campaign.campaignID, campaign.amount, campaign.country, campaign.donateRef)
            script.
              function goToDonate(campaign, amount, donateRef) {
                window.open("/donate?campaign=" + campaign + "&amount=" + amount + "&donateRef=" + donateRef, '_blank');
              }
      .section.is-hidden#tab-your-learners
        .section(style='margin-top: -2rem; padding-top: 0.5rem; padding-bottom: 0.2rem; margin-bottom: none;')
          h1.title.has-text-grey-dark(style='font-size: 4rem;') Your Learners
        .select.is-large(style='font-size: 2.4rem')
          select#yourLearnersCountrySelect(onchange='onYourLearnersCountrySelectionChanged()' style='border: none; width: auto; -webkit-appearance: none; -moz-appearance: none; appearance:none;' name='campaignSelection')
        .section(style='margin-top: none; padding-top: 0.5rem; padding-bottom: 0.2rem; margin-bottom: none;')
          h3.subtitle.is-3.has-text-grey Donation: 
            span $
            span#donation-amount
          h3.subtitle.is-3.has-text-grey You've reached&nbsp;
            span#learner-count
            span &nbsp;Learners since&nbsp;
            span#donation-date
            span(style='font-size: 1.4rem;') &nbsp;(
              span#your-learners-no-region-user-count
              span &nbsp;users have Do Not Track on.)
          h3.subtitle.is-3.has-text-grey
            span#percent-filled
        .section(style='margin-top: none; padding-top: 0.5rem; margin-bottom: none; padding-bottom: 0.1rem')
          #map-display-your-learners(style="width: 100%; height: 640px;")

      .section.is-hidden#tab-all-learners
        .section(style='margin-top: -2rem; padding-top: 0.5rem; padding-bottom: 0.2rem; margin-bottom: none;')
          h1.title.has-text-grey-dark(style='font-size: 4rem;') All Learners
          .select.is-large
            select#countrySelection(onchange='onCountrySelectionChanged()' style='width: auto; -webkit-appearance: none; -moz-appearance: none; appearance:none;' name='campaignSelection')
          h3.subtitle.is-3.has-text-grey(style='margin-top: 1rem;') We've reached&nbsp;
            span#all-learners-count
            span &nbsp;Learners
            span(style='font-size: 1.4rem;') &nbsp;(
              span#no-region-user-count
              span &nbsp;users have Do Not Track on.)
        .section(style='margin-top: none; padding-top: 0.5rem; margin-bottom: none; padding-bottom: 0.1rem')
          #map-display-all-learners(style="width: 100%; height: 640px;")
    
    .modal#donor-email-modal
      .modal-background(onclick="document.getElementById('donor-email-modal').classList.remove('is-active');")
      .modal-card
        header.modal-card-head(style='border: none')
          p.modal-card-title.has-text-grey-dark Enter Your E-Mail
          button.delete(aria-label='close' onclick="document.getElementById('donor-email-modal').classList.remove('is-active');")
        .modal-card-body
          p.has-text-info.is-hidden#new-donor-info-text
            span.icon.is-small.is-left
              i.fas.fa-info-circle
            span#new-donor-info-content please enter a valid email address
            span
              br
              br
          form
            //- .help Go to your Donor Summary
            //- br
            label.has-text-grey(for='email') E-mail
            .control.has-icons-left
              input.input#donor-email(name='email', type='email', title="Email" placeholder='user-name@example.com')
              span.icon.is-small.is-left
                i.fas.fa-envelope
            br
            .control
              input.button#donor-email-submit(type='button' disabled=true onclick='GetDataAndSwitchToDonorLearners()' value='View Your Learners')
          script.
            $(function() {
              $('#donor-email').change(function() {
                let value = $('#donor-email').val();
                if (validateEmail(value)) {
                  $('#donor-email-submit').prop('disabled', false);
                  $('#new-donor-info-text').addClass('is-hidden');
                } else {
                  $('#donor-email').val('');
                  $('#donor-email-submit').prop('disabled', true);
                  $('#new-donor-info-text').removeClass('is-hidden');
                }
              });
            });


  script(src="/static/js/fbc.js")
  script(src="/static/js/tab-selector.js")
  script(src="/static/js/countUp.js")
  script(src="/static/js/index.js")
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEl20cTMsc72W_TasuK5PlWYIgMrzyuAU&callback=initializeMaps")
  //- script(src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js")
