html
  include mixins/_campaign
  head
    script(src="/static/js/hj.js")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css')
    script(src="https://kit.fontawesome.com/89be96593a.js" crossorigin="anonymous")
    script(
        src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous")

  body
    .hero.is-large.is-info(style="background-image: url('/static/imgs/hero-cover.jpg'); background-position: center -100; background-size: cover; background-repeat:  no-repeat; background-attachment: fixed;")
      .hero-head
        .navbar
          .section
            .navbar-brand
              a(href='/')
                img(src="/static/imgs/cl_white_logo.png", alt='logo' style='width: 256px; height: auto;')
            span.navbar-burger.burger(data-target="navbarHeroMenu")
              span
          .navbar-menu#navbarHeroMenu
            .navbar-end(style='align-items: center; padding-right: 1.5rem')
              button.button.is-rounded.navbar-item.is-active.is-primary.is-large(style='color: white; background-color: #8CCDC9')
                span Get Started
      .hero-body(style='padding-top: 0; padding-bottom: 20rem; padding-left: 0; padding-right: 0')
        .container.has-text-centered
          h1.title(style='font-size: 6rem;') Follow The Learners
          h3.subtitle.is-size-3 Use our Follow the Learners™ tool to track the impact of your donation
        .columns(style='margin-top: 8rem;')
          .column.is-two-fifths(style="background-color: #8CCDC9; opacity: 0.8;") 
            .columns
              .column
              .column
                h1.title.has-text-right(style='font-size: 4rem;') 60,975
              .column(style='display: flex; align-items: flex-end')
                h3.subtitle.is-size-3 Learners
          .column
    .section
      .container
        h1.title.has-text-centered(style='font-size: 4rem;')
          span Every dollar you give puts literacy
          br
          span apps in the hands of 2-4 children.