html
  include mixins/_campaign
  head
    script(src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/7.14.3/firebase-analytics.js")
    script(src="/static/js/hj.js")
    meta(name="theme-color" content="#8CCDC9")
    link(rel="apple-touch-icon" href="/static/imgs/2.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css')
    link(rel='manifest', href='/static/manifest.webmanifest')
    script(src="https://kit.fontawesome.com/89be96593a.js" crossorigin="anonymous")
    script(
        src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous")
    style(type='text/css').
      html,body
      {
          width: 100%;
          margin: 0px;
          padding: 0px;
      }

  body
    .hero.is-large(style="color: white; background-image: url('/static/imgs/hero-cover.jpg'); background-position: center -100; background-size: cover; background-repeat: no-repeat;")
      .hero-head
        .navbar
          .section
            .navbar-brand
              a(href='/')
                img(src="/static/imgs/cl_white_logo.png", alt='logo' style='width: 196px; height: auto;')
              a.navbar-burger.is-large(data-target="navbarHeroMenu" role="button" aria-label="menu" aria-expanded="false" style="background-color: #8CCDC9;")
                span(aria-hidden="true" style="color: white; width: 40%; left: 30%; height: 0.1rem;")
                span(aria-hidden="true" style="color: white; width: 40%; left: 30%; height: 0.1rem;")
                span(aria-hidden="true" style="color: white; width: 40%; left: 30%; height: 0.1rem;")
          .navbar-menu#navbarHeroMenu
            .navbar-end(style='align-items: center; padding-right: 1.5rem')
              a.button.is-rounded.navbar-item.is-active.is-primary(href="/campaigns" style='color: white; background-color: #8CCDC9; font-size: 1.8rem;')
                span Get Started
      .hero-body(style='padding: 0')
        .container.has-text-centered(style="margin-bottom: 12rem; margin-top: 4rem")
          h1.title(style='color: white; font-size: 4.5rem;') Follow The Learners™ 
            span(style='color: white; font-size: 2.5rem') (Beta)
          h3.subtitle.is-size-4(style='color: white;') Use our Follow the Learners™ tool to track the impact of your donation

        .columns.is-desktop#learners-parent(style="margin-bottom: 8rem; margin-left: 0; margin-top: 0; margin-right: 0; opacity: 0")
          .column.is-half(style="background-color: rgba(140, 205, 201, 0.7);")
            h1.title.has-text-centered(style='color: white;')
                span#learners-count(style='font-size: 4rem;')
                span(style='font-size: 1.8rem;') &nbsp;Learners
          .column

    .section
      .container
        h1.title.has-text-centered(style='font-size: 3rem;')
          span Every dollar you give puts literacy
          br
          span apps in the hands of 2-4 children.
    br
    br
    br
    br
    
    .columns.is-desktop(style='margin: 0;')
      .column
        .rows
          .row(style="background-color: rgba(140, 205, 201, 0.7); font-size: 4rem;") &nbsp;
          .row(style="margin-top: -12rem")
            .columns
              .column.is-half
              .column(style="margin-right: 10rem")
                img(src="/static/imgs/streetview_phone.png")
      .column
        h1.title(style='font-size: 2.8rem; margin-bottom: 4rem; padding-left: 2rem; padding-right: 2rem;')
          span Follow the Learners™ takes you on a virtual visit to our service locations and lets you watch literacy take root day by day—changing lives forever.
        .rows
          .row(style="background-color: rgba(0, 0, 0, 0); font-size: 4rem;") &nbsp;
          .row(style="background-color: rgba(140, 205, 201, 0.7); font-size: 4rem;") &nbsp;
          .row(style="margin-top: -12rem")
            .columns(style="margin-left: 1rem")
              .column
                img(src="/static/imgs/gdl_phone_screen.png")
              .column
                img(src="/static/imgs/ftm_phone_screen.png")
              .column
              .column
    br

    .section
      .container
        .columns
          .column
          .column.has-text-centered
            a.button.is-rounded.is-active.is-primary(href="/campaigns" style='color: white; background-color: #8CCDC9; font-size: 1.8rem;')
              span Get Started
          .column
    
    br

    .section
      h1.title.has-text-centered(style='font-size: 3.4rem;') How Follow the Learners™ Lets You Track Your Donation
    
    br
    br
    br

    .section
      .container
        img(src="/static/imgs/landingpage-infographic.png")

    .section
      .container
        .columns
          .column
          .column.has-text-centered
            a.button.is-rounded.is-active.is-primary(href="/campaigns" style='color: white; background-color: #8CCDC9; font-size: 1.8rem;')
              span Get Started
          .column

    button.button.add-button.is-primary Add to home screen

    script(src='/static/js/fbc.js')
    script(src="/static/js/countUp.js")
    script(src='/static/js/landing-page.js')