doctype html
include mixins/_mapView
include mixins/_campaign
html
  head
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css')
    script(src="https://kit.fontawesome.com/89be96593a.js" crossorigin="anonymous")
    script(
        src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous")

  body
    header(style='z-index: 10;')
      .section(style='margin-bottom: -120px;')
        p.buttons.is-pulled-right
          // Your Learners Button
          button.button.is-medium.is-pulled-right.is-dark(onclick='tabSelector.ToggleTab(0)')
            span.icon.is-small
              i.fas.fa-users(aria-hidden='true' style='pointer-events: none;')
            span Your Learners

          // All Learners Button
          button.button.is-medium.is-pulled-right(onclick='tabSelector.ToggleTab(1)')
            span.icon.is-small
              i.fas.fa-globe(aria-hidden='true' style='pointer-events: none;')
            span All Learners
        
        p.buttons.is-pulled-right#tab-buttons
          // Campaigns Button
          a.button.is-medium.is-pulled-right(href='/' style='margin-right: 0.5rem')
            span.icon.is-small
              i.fas.fa-map-marker-alt(aria-hidden='true' style='pointer-events: none;')
            span Campaigns

    .section#tabs-parent(style='z-index: 5')
      .section#tab-your-learners
        .select.is-large(style='font-size: 2.2rem')
          select#campaignSelection(onchange='onCampaignSelectionChanged()' style='border: none; width: auto; -webkit-appearance: none; -moz-appearance: none; appearance:none;' name='campaignSelection')
            each campaign in campaigns
              option() #{campaign.name}
        .section
          +mapView(campaigns[0])
      .section.is-hidden#tab-all-learners
        h1.title(style='font-size: 4rem;') All Learners 
    
    script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEl20cTMsc72W_TasuK5PlWYIgMrzyuAU&callback=initializeMaps")
    script(src="/static/js/tab-selector.js")
    script(src="/static/js/summary.js")
    script(src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js")
