include ./_link
//- renders a quick summary of a campaign, with an image and 
//- a donation link
mixin campaign (country, imgRef, body, campaignID, amount)
  .campaign
    .campaign-header
      h1 #{country}
    p #{body}
    p
     +link(imgRef, country)(class='img')
    p
    .button(type='button', id='giveNow'+campaignID+amount, onclick = "goToDonate(\""+campaignID +"\",\"" + amount + "\")") Give Now
    
    
