include ./_link
//- renders a quick summary of a campaign, with an image and 
//- a donation link
mixin campaign (title, imgRef, body, campaignID, amount, country, donateRef, isFeatured)
  - var featured = isFeatured
  .card.column.is-shadowless(style='border: none; margin: 10px;')
    .card-image
      a(href='/donate?campaign=' + campaignID+'|'+country +'&amount='+amount+'&donateRef='+donateRef target='_blank')
        .box(style="border-radius: 0; box-shadow: 0px 2px 8px #808080; padding: 0")
          figure.image.is-5by3
            img(src=imgRef, alt='Campaign Image')
            button.button.is-rounded.is-primary.is-medium(type='button', id='giveNow'+campaignID, onclick = "goToDonate(\""+campaignID + '|' + country + '","' +'', style='position: absolute; bottom: 60; right: -10;') Give Now
            if featured
              p(style="position: absolute; top: 20; left: -10; background-color: #fff; border: 2px solid #606060; padding-left: 1rem; padding-right: 1rem; font-size: 1.4rem; font-weight: bold;") FEATURED
              
    br
    .card-header.is-shadowless
      a.title.is-size-2.has-text-grey-dark(href='/donate?campaign=' + campaignID + '|' + country+'&amount='+amount+'&donateRef='+donateRef ) #{title}
    .card-content
      .subtitle.is-size-6.has-text-grey !{body}
